#logoJumbo {
  background-image: url("../img/backgrounds/landing.jpg");
  background-position: center;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 25px;
}

#logoJumbo, h2 {
  font-weight: lighter;
  color: #fff;
  text-align: center;
}

#bold {
  font-weight: bold;
}
